 
.root{
	-fx-background-color: #383838;
	-fx-font-size:15px;
}
.label{
	-fx-text-fill:#e8e8e8;
	
}
.button{
	-fx-background-color:#ab4642;
	-fx-text-fill:#FFFFFF;
	-fx-background-radius:6;
	
}
.button-blue{
	-fx-background-color:#7cafc2;
	-fx-text-fill:#FFFFFF;
	-fx-background-radius:6;
	
}
#bold-label{
	-fx-font-weight:bold;
}