.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill:  #f45d49;

}


.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
}

.tab-pane:top *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

#tabPane {
    -fx-border-color: #333;

    -fx-tab-min-height: 2em;
    /* 24 */
    -fx-tab-max-height: 2em;
    /* 24 */

    -fx-tab-min-width: 5em;
    -fx-tab-max-width: 5em;
    -fx-padding: 0 -1 -1 0
}